<%= form_for(@health_event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :comment, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :comment, placeholder: "Compose new share post..." %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :feeling, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :feeling, ["(good)", "(bad)" ] %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :occurred_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.text_field :occurred_at, data: { :date_format => 'YYYY/MM/DD hh:mm' }, :class => 'form-control datetimepicker', placeholder: 'YYYY/MM/DD hh:mm' %>
      <%= f.datetime_local_field :occurred_at, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ended_at, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_local_field :ended_at, class: "form-control" %>
    </div>
  </div>
  <% @health_event.public_level = 0 %>
  <%= f.hidden_field :public_level %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
