<li id="bowel-<%= bowel.id %>">
  <%= link_to avatar_for(bowel.user, size: 50), bowel.user %>
  <span class="user"><%= link_to bowel.user.username, bowel.user %></span>
  <span class="title">
    <%= feeling_image_for(bowel) %>
    <%= stool_image_for(bowel) %>
    <%= stool_amount_for(bowel) %>
  </span>
  <!--
  <span class="shape"><%= bowel.shape %></span>
  <span class="color"><%= bowel.color %></span>
  <span class="amount"><%= bowel.amount %></span>
  <span class="comment"><%= bowel.comment %></span> -->
  <span class="timestamp">
    <!-- <%= time_ago_in_words(bowel.occurred_at) %>前 -->
    <%= bowel.occurred_at.to_s(:created_at) %>
    <%# if current_user == bowel.user %>
      <%#= link_to "edit", edit_bowel_path(bowel) %>
      <%#= link_to "delete", bowel, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <%# end %>
    <%= link_to "詳細", bowel_path(bowel), class: "btn btn-xs btn-default" %>
  </span>
</li>