<%= form_for(@share_post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, placeholder: "タイトル...", class: "form-control" %>
  </div>
<!--
  <div class="field">
    <%#= f.text_field :title, placeholder: "Title" %>
  </div>
-->

  <div class="form-group">
    <%= f.label :comment, class: "control-label" %>
    <%= f.text_area :comment, placeholder: "本文...", class: "form-control", rows: "10" %>
  </div>
<!--
  <div class="field">
    <%#= f.text_area :comment, placeholder: "Compose new share post..." %>
  </div>
-->

  <div class="form-group">
    <%= f.label :public_level, class: "control-label" %>
    <%= f.select :public_level, public_level_list,
        #[["既定値", 0], ["公開", 5], ["公開(概要)", 4], ["友達のみ", 3], ["友達のみ(概要)", 2], ["非公開", 1]],
        class: "form-control" %>
  </div>
  <%# @share_post.public_level = 0 %>
  <%#= f.hidden_field :public_level %>

  <div class="form-group actions">
    <%= f.submit "送信", class: "btn btn-large btn-primary" %>
  </div>
  <%#= f.submit "Post", class: "btn btn-primary" %>
<% end %>
