<!DOCTYPE html>
<html>
<head>
  <title>快ちょう管理</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <% case message_type %>
      <% when "notice" then alert_type = :info %>
      <% when "alert"  then alert_type = :danger %>
      <% else alert_type = message_type %>
      <% end %>
      <div class="alert alert-<%= alert_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
