<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>快ちょう管理</title>
  <meta name="keywords" content="SNS,排便,大腸,大便,健康,IBS,記録" />
  <meta name="description" content="排便の記録をし健康に役立つSNSサービスです。" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <% case message_type %>
      <% when "notice" then alert_type = :info %>
      <% when "alert"  then alert_type = :danger %>
      <% else alert_type = message_type %>
      <% end %>
      <div class="alert alert-<%= alert_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

  <%= render partial: "layouts/footer" %>
</body>
</html>
